*.pyc
*__pycache__*
*core.*
_ext
tmp
*.o*
*~
*.idea
*.mp4
*.avi
*.h5
*.pt
*.egg-info
*.tar
*.xlsx

# Build
/dist
/build/checkpoint

# Virtual enviroment
**/venv

# Dataset images
/data/databases

# Results
eval/results

# Test
accuracy.py
app2.py
colormap.py
pose_analysis_facedb.py
pose_analysis_charlotte.py